.App {
    text-align: center;
}

.CurrencyConverter {
    display: inline-flex;
    flex-direction: column;
    /* align-items: flex-end; */
    align-content: stretch;
    margin-top: 10px;
    width: 30%;
}

.CurrencyInput {
}

.ButtonAndCourseContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: grey;
    font-size: 14px;
}

.aboutList {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

li.aboutListItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

hr.aboutListDivider {
    width: 200px;
    border-top: 1px solid #979e9b;
    opacity: 0.2;
}

/* To hide arrows in number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
